@import "tailwindcss";
@import "tw-animate-css";

/* @custom-variant dark (&:is(.dark *)); */


.txt {
  font-family: var(--font-baloo);
}


.gradient-title {
  font-weight: bold;
  background: linear-gradient(
    135deg, 
    #f97316 0%,  
    #fdba74 50%, 
    #fb923c 100% 
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: -0.025em; 
  padding-right: 0.5rem; 
  padding-bottom: 0.5rem; 
  background-size: 200% 200%;
  animation: gradient-shift 6s ease infinite;
}

@keyframes gradient-shift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

html{
  scroll-behavior: smooth;
}


.ql-container{
  min-height: 80vh;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.ql-editor{
  height: 100%;
  flex: 1;
  overflow-y: auto;
  width: 100%;
}

.ql-toolbar{
  border-radius: 5px;
}